---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: actual
  namespace: web
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"

    image:
      repository: ghcr.io/actualbudget/actual-server
      tag: 25.4.0

    enableServiceLinks: false

    service:
      main:
        ports:
          http:
            port: 5006

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        annotations:
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: "tdesign:money"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
        hosts:
        - host: "actual.${EXTERNAL_DNS_1_DOMAIN}"
          paths:
          - path: /

    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"
      supplementalGroups:
      - 65539

    resources:
      requests:
        cpu: 12m
        memory: 128M
      limits:
        memory: 512M

    volumeClaimTemplates:
    - name: data
      mountPath: /data
      accessMode: ReadWriteOnce
      size: 2Gi
      storageClass: ceph-block
