---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: &namespace networking
commonAnnotations:
  meta.helm.sh/release-name: &releaseName cilium
  meta.helm.sh/release-namespace: *namespace
commonLabels:
  app.kubernetes.io/managed-by: Helm
helmCharts:
- name: cilium
  repo: https://helm.cilium.io
  version: 1.17.3
  releaseName: *releaseName
  namespace: *namespace
  valuesInline:
    autoDirectNodeRoutes: true

    bgpControlPlane:
      enabled: true

    bandwidthManager:
      enabled: true
      bbr: true

    bpf:
      masquerade: true
      tproxy: true

    cgroup:
      autoMount:
        enabled: false
      hostRoot: /sys/fs/cgroup

    cluster:
      name: k8s-home-ops
      id: 1

    cni:
      exclusive: false

    enableCnpStatusUpdates: true
    endpointStatus:
      enabled: true
      status: "policy"

    k8sServiceHost: 127.0.0.1
    k8sServicePort: 7445

    ipam:
      mode: "kubernetes"

    ingressController:
      enabled: false
      loadbalancerMode: shared

    ipv4NativeRoutingCIDR: 172.22.0.0/16

    hubble:
      enabled: false

    kubeProxyReplacement: "strict"
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256

    l7Proxy: true

    loadBalancer:
      algorithm: maglev
      mode: dsr

    localRedirectPolicy: true

    operator:
      rollOutPods: true

    rollOutCiliumPods: true

    securityContext:
      capabilities:
        ciliumAgent:
        - CHOWN
        - KILL
        - NET_ADMIN
        - NET_RAW
        - IPC_LOCK
        - SYS_ADMIN
        - SYS_RESOURCE
        - DAC_OVERRIDE
        - FOWNER
        - SETGID
        - SETUID
        cleanCiliumState:
        - NET_ADMIN
        - SYS_ADMIN
        - SYS_RESOURCE

    routingMode: native
