---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyoming-piper
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controllers:
      wyoming-piper:

        pod:
          annotations:
            reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: rhasspy/wyoming-piper
              tag: latest@sha256:66e7c9f323edb12ce167ea9967a861079dcb881af27270fa8e7ed11c9bf890a5
            args:
            - --voice=en-us-ryan-low
            env:
              TZ: "America/New_York"
            resources:
              requests:
                cpu: 500m
                memory: 250Mi
              limits:
                memory: 500Mi

    service:
      wyoming-piper:
        controller: wyoming-piper
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SERVICE_ADDRESS_WYOMING_PIPER}
        ports:
          http:
            port: 10200
            protocol: TCP

    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: ceph-block
