---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name":"multus-iot",
            "namespace": "networking",
            "ips": [ "192.168.4.10/22" ],
            "mac": "46:f0:12:1f:cd:f9"
          }]

    controllers:
      home-assistant:
        type: statefulset

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          clone-repo:
            image:
              repository: alpine/git
              tag: latest
            command:
            - "/bin/sh"
            - -c
            - |
              cd /config
              git clone git@github.com:carldanley/hass-config.git .

        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.4.4
            env:
              TZ: "America/New York"
            envFrom:
            - secretRef:
                name: home-assistant-secret
            probes:
              liveness:
                custom: true
                spec:
                  httpGet:
                    path: /manifest.json
                    port: &httpPort 8123
                  initialDelaySeconds: 3
                  periodSeconds: 3
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 47m
                memory: 1254Mi

    service:
      home-assistant:
        controller: home-assistant
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SERVICE_ADDRESS_HOME_ASSISTANT}
        ports:
          http:
            enabled: true
            port: *httpPort
          sonos:
            enabled: true
            port: 1400
          mass:
            enabled: true
            port: 8095

    ingress:
      home-assistant:
        annotations:
          nginx.org/websocket-services: home-assistant
          hajimari.io/enable: "true"
          hajimari.io/icon: "simple-icons:homeassistant"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        className: nginx
        hosts:
        - host: ${EXTERNAL_DNS_2_DOMAIN}
          paths:
          - path: /
            pathType: Prefix
            service:
              identifier: home-assistant
              port: http

    persistence:
      shared:
        type: emptyDir
        globalMounts:
        - path: /config
          readOnly: false

      deploy-key:
        type: secret
        name: home-assistant-deploy-key
        defaultMode: 256
        advancedMounts:
          home-assistant:
            clone-repo: &sshKeyMounts
            - path: /root/.ssh/id_rsa
              readOnly: true
              subPath: ssh-privatekey
            - path: /root/.ssh/known_hosts
              readOnly: true
              subPath: known_hosts
            app: *sshKeyMounts

      config:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDRESS}"
            path: /volume1/home-assistant/.storage
        advancedMounts:
          home-assistant:
            app: &configStorageMount
            - path: /config/.storage
              readOnly: false
            codeserver: *configStorageMount

      backups:
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDRESS}"
            path: /volume1/backups/home-assistant
        advancedMounts:
          home-assistant:
            app: &configBackupMount
            - path: /config/backups
              readOnly: false
            codeserver: *configBackupMount
