---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app overseerr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false

    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
            - 65539

        containers:
          *app :
            image:
              repository: ghcr.io/sct/overseerr
              tag: 1.34.0
            env:
              LOG_LEVEL: "info"
              PORT: &port 5055
            resources:
              requests:
                memory: 350Mi
                cpu: 5m
              limits:
                memory: 431Mi

          exporter:
            image:
              repository: ghcr.io/willfantom/overseerr-exporter
              tag: 1.2.1
            args:
            - --overseerr.address
            - "http://localhost:5055"
            - --overseerr.api-key
            - "$(OVERSEERR_API_KEY)"
            envFrom:
            - secretRef:
                name: starr-apps-secret

    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
            primary: true
          metrics:
            port: &metricsPort 9850

    ingress:
      *app :
        className: nginx
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "mdi:eye-circle-outline"
        hosts:
        - host: &host "overseerr.${EXTERNAL_DNS_1_DOMAIN}"
          paths:
          - path: /
            pathType: Prefix
            service:
              identifier: *app
              port: *port

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
        - path: /app/config

    serviceMonitor:
      metrics:
        serviceName: *app
        endpoints:
        - port: metrics
          scheme: http
          path: /metrics
          interval: 10m
          scrapeTimeout: 10s
