---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 9.1.1
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  values:
    replicas: 1

    image:
      repository: grafana/grafana
      tag: 12.0.1

    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
        - name: default
          disableDeletion: false
          editable: true
          folder: ""
          options:
            path: /var/lib/grafana/dashboards/default
          orgId: 1
          type: file

    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
        - name: Loki
          orgId: 1
        - name: Alertmanager
          orgId: 1
        datasources:
        - name: prometheus
          type: prometheus
          access: proxy
          url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
          isDefault: true
        - name: loki
          type: loki
          access: proxy
          url: http://loki-gateway.monitoring.svc.cluster.local:80

    deploymentStrategy:
      type: Recreate

    env:
      GF_DATE_FORMATS_USE_BROWSER_LOCALE: true
      GF_EXPLORE_ENABLED: true
      GF_LOG_FILTERS: rendering:debug
      GF_PANELS_DISABLE_SANATIZE_HTML: true
      GF_SECURITY_COOKIE_SAMESITE: grafana

    grafana.ini:
      analytics:
        check_for_updates: false
      auth.generic_oauth.group_mapping:
        org_id: 1
        role_attribute_path: |
          contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'
      auth.basic:
        enabled: true
      auth.anonymous:
        enabled: false
      paths:
        data: /var/lib/grafana/data
      server:
        root_url: https://grafana.${EXTERNAL_DOMAIN}

    imageRenderer:
      enabled: true
      serviceMonitor:
        enabled: true

    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        hajimari.io/enable: "true"
        hajimari.io/icon: "simple-icons:grafana"
        nginx.ingress.kubernetes.io/whitelist-source-range: "${INGRESS_INTERNAL_ONLY_CIDR}"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      hosts:
      - grafana.${EXTERNAL_DNS_1_DOMAIN}

    persistence:
      enabled: false

    plugins:
    - grafana-clock-panel
    - grafana-piechart-panel
    - grafana-worldmap-panel
    - natel-discrete-panel
    - pr0ps-trackmap-panel
    - vonage-status-panel
    - isovalent-hubble-datasource

    podAnnotations:
      configmap.reloader.stakater.com/reload: grafana

    resources:
      limits:
        memory: 219Mi
      requests:
        cpu: 23m
        memory: 127Mi

    serviceMonitor:
      enabled: true

    sidecar:
      logLevel: INFO
      alerts:
        enabled: true
        label: grafana.io/alert
        labelValue: "true"
      dashboards:
        enabled: true
        label: grafana.io/dashboard
        labelValue: "true"
        folderAnnotation: "grafana.io/folder"
        searchNamespace: ALL
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        label: grafana.io/datasource
        labelValue: "true"
        searchNamespace: ALL
      notifiers:
        enabled: true
        label: grafana.io/notifier
        labelValue: "true"
        searchNamespace: ALL
      plugins:
        enabled: true
        label: grafana.io/plugin
        labelValue: "true"
        searchNamespace: ALL

    topologySpreadConstraints:
    - maxSkew: 2
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app.kubernetes.io/name: grafana
