---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recyclarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false

    controllers:
      *app :
        type: cronjob

        cronjob:
          schedule: "@daily"
          ttlSecondsAfterFinished: 86400

        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch

        containers:
          *app :
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: edge@sha256:e1ef91713799f5535d1b14c7a0767c4cb5a35932051d1edf0d3fddfe1e65b939
            command: ["/app/recyclarr/recyclarr"]
            args:
            - "sync"
            env:
              TZ: ${TIMEZONE}
            envFrom:
            - secretRef:
                name: starr-apps-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
            resources:
              requests:
                cpu: 10m
                memory: 64M
              limits:
                memory: 128M

    persistence:
      config:
        type: emptyDir

      configs:
        type: configMap
        name: recyclarr-configmap
        globalMounts:
        - path: /config/configs
        defaultMode: 0775
