---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  values:

    controllers:
      home-assistant:

        containers:
          codeserver:
            dependsOn: app
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.100.0
            env:
              TZ: America/New_York
            workingDir: /config
            args:
            - --auth
            - "none"
            - --user-data-dir
            - "/config/.vscode"
            - --extensions-dir
            - "/config/.vscode"
            - --port
            - "8081"

    service:
      codeserver:
        controller: home-assistant
        type: ClusterIP
        ports:
          http:
            enabled: true
            port: 8081

    ingress:
      codeserver:
        enabled: true
        className: nginx
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "mdi:vs-code"
          hajimari.io/appName: "HASS VSCODE"
          nginx.ingress.kubernetes.io/whitelist-source-range: "${INGRESS_INTERNAL_ONLY_CIDR}"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        hosts:
        - host: code.${EXTERNAL_DNS_2_DOMAIN}
          paths:
          - path: /
            pathType: Prefix
            service:
              identifier: codeserver
              port: http

    persistence:
      vscode:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDRESS}"
            path: /volume1/home-assistant/.vscode
        advancedMounts:
          home-assistant:
            codeserver:
            - path: /config/.vscode
              readOnly: false
