---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rdt-client
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    defaultPodOptions:
      automountServiceAccountToken: false

    controllers:
      rdt-client:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
            vpn.home.arpa/enabled: "true"
          dnsConfig:
            options:
            - name: ndots
              value: "1"
          hostname: rdt-client

        containers:
          app:
            image:
              repository: ghcr.io/rogerfar/rdtclient
              tag: 2.0.108
            resources:
              requests:
                cpu: 49m
                memory: 765M

    service:
      rdt-client:
        controller: rdt-client
        ports:
          http:
            port: 6500

    ingress:
      rdt-client:
        className: nginx
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: "mdi:download-circle-outline"
          nginx.ingress.kubernetes.io/whitelist-source-range: "${INGRESS_INTERNAL_ONLY_CIDR}"
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        hosts:
        - host: &host "rdt.${EXTERNAL_DNS_1_DOMAIN}"
          paths:
          - path: /
            pathType: Prefix
            service:
              identifier: rdt-client
              port: http

    persistence:
      database:
        existingClaim: ${VOLSYNC_CLAIM}
        advancedMounts:
          rdt-client:
            app:
            - path: /data/db
              readOnly: false

      downloads:
        type: custom
        volumeSpec:
          nfs:
            server: "${SYNOLOGY_ADDRESS}"
            path: /volume1/media/downloads
        advancedMounts:
          rdt-client:
            app:
            - path: /data/downloads
              readOnly: false
