---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: weatherflow2mqtt
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controllers:
      weatherflow2mqtt:

        pod:
          annotations:
            reloader.stakater.com/auto: "true"
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": [ "192.168.4.11/22" ],
                "mac": "1a:73:69:20:1b:16"
              }]

        containers:
          app:
            image:
              repository: briis/weatherflow2mqtt
              tag: 3.2.2
            env:
              TZ: America/New_York
              UNIT_SYSTEM: imperial
              LANGUAGE: en
              RAPID_WIND_INTERVAL: 2
              DEBUG: "true"
              ELEVATION: 11.00328
              MQTT_DEBUG: "false"
              FORECAST_INTERVAL: 30
            envFrom:
            - secretRef:
                name: weatherflow2mqtt-secret
